openapi: 3.0.0
info:
  title: User API
  version: 1.0.0
  description: API for managing users

paths:
  /users:
    get:
      summary: Get all users
      responses:
        "200":
          description: Successful response

    post:
      summary: Create a new user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user"
      responses:
        "200":
          description: Successful response

  /users/{id}:
    get:
      summary: Get user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response

    put:
      summary: Update user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user"
      responses:
        "200":
          description: Successful response

    delete:
      summary: Delete user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response

  /users/login:
    post:
      summary: Check if user exists (login)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/login"
      responses:
        "200":
          description: Successful response

components:
  schemas:
    login:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    user:
      type: object
      properties:
        username:
          type: string
          required: true
        user_first_name:
          type: string
          required: true
        user_last_name:
          type: string
          required: true
        password:
          type: string
          required: true
        user_email_address:
          type: string
          required: true
        user_date_of_birth:
          type: string
          required: true
        user_profile_image:
          type: string
          required: true
        current_work_place:
          type: string
          required: true
        user_gender:
          type: string
          required: true
        user_phone_number:
          type: string
          required: true
