openapi: 3.0.0
info:
  title: User API
  version: 1.0.0
  description: API for managing users

paths:
  /users:
    get:
      summary: Get all users
      tags:
        - users
      responses:
        "200":
          description: Successful response

    post:
      summary: Create a new user
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user"
      responses:
        "200":
          description: Successful response

  /users/{id}:
    get:
      summary: Get user by ID
      tags:
        - users
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response

    put:
      summary: Update user by ID
      tags:
        - users
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user"
      responses:
        "200":
          description: Successful response

    delete:
      summary: Delete user by ID
      tags:
        - users
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response

  /users/login:
    post:
      summary: Check if user exists (login)
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/login"
      responses:
        "200":
          description: Successful response

  /users/username/{username}:
    get:
      summary: Get user by username
      tags:
        - users
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response

  /posts:
    get:
      summary: Get all posts
      tags:
        - posts
      responses:
        "200":
          description: Successful response

    post:
      summary: Create a new post
      tags:
        - posts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newPost"
      responses:
        "200":
          description: Successful response

  /posts/{id}:
    get:
      summary: Get post by ID
      tags:
        - posts
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response

    put:
      summary: Update post by ID
      tags:
        - posts
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updatePost"
      responses:
        "200":
          description: Successful response

    delete:
      summary: Delete post by ID
      tags:
        - posts
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response


components:
  schemas:
    login:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    user:
      type: object
      properties:
        username:
          type: string
          required: true
        user_first_name:
          type: string
          required: true
        user_last_name:
          type: string
          required: true
        password:
          type: string
          required: true
        user_email_address:
          type: string
          required: true
        user_date_of_birth:
          type: string
          required: true
        user_profile_image:
          type: string
          required: true
        current_work_place:
          type: string
          required: true
        user_gender:
          type: string
          required: true
        user_phone_number:
          type: string
          required: true
    newPost:
      type: object
      properties:
        user_creator_id:
          type: string
          required: true
        post_content:
          type: string
          required: true
        post_image:
          type: string
          required: true
        contentType:
          type: string
          required: true
          example: "mp4/png"
    updatePost:
      type: object
      properties:
        post_content:
          type: string
          required: true
        post_image:
          type: string
          required: true
        likes:
          type: array
          items:
            type: string
          required: true
        comments:
          type: array
          items:
            type: string
          required: true
        contentType:
          type: string
          required: true
          example: "mp4/png"